##########################
## Java
##########################
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*


##########################
## NetBeans
##########################
ProjForn/nbproject/private/
ProjForn/build/
ProjForn/nbbuild/
ProjForn/dist/
ProjForn/nbdist/
ProjForn/nbactions.xml
ProjForn/nb-configuration.xml
